{% extends 'base.html' %}
{% block content %}
<h1>Disc Golf Tournaments</h1>
<a href="/putting_league_rr/tournament/create" class="btn btn-primary mb-3">Create New Tournament</a>
<ul class="list-group">
    {% for tournament in tournaments %}
        <li class="list-group-item">
            <a href="/putting_league_rr/tournament/{{ tournament.id }}">{{ tournament.name }}</a>
        </li>
    {% endfor %}
</ul>
<a href="/putting_league_rr/delete_all" class="btn btn-danger mt-3">Delete All</a>
{% endblock %}
